body {
  background-color: #393e46;
}
.h1Container {
  display: flex;
  flex-direction: column;
  height: 30vh;
  align-items: center;
  justify-content: center;
  font-family: "Averia Sans Libre", sans-serif;
  font-size: 50px;
  color: aquamarine;
}
.gridCon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15vh 50vh;
  gap: 20px;
  align-items: center;
}
.h2Style {
  font-family: "Averia Sans Libre", sans-serif;
  color: aquamarine;
  font-size: 40px;
  justify-self: end;
}
.winner {
  color: red;
}
.h2Style2 {
  justify-self: self-start;
}
.diceStyle {
  cursor: pointer;
  margin-top: 0px;
  padding-top: 0px;
}
#player1Dice {
  justify-self: end;
}
